.modal {
  position: absolute;
  top: 50%;
  left: calc(50% - 25rem);
  transform: translateY(-50%);
  width: 50rem;
  padding: 2rem;
  z-index: 10;
  outline: none;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #fff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, .33);
}

.modal__title {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.modal--confirmation__actions {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
