.module-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.module-wrapper {
  position: relative;
}

.modules .module {
  padding: .5rem 3rem;
  margin-bottom: 3rem;
  transition: background-color ease .3s;
}

.module .module__title {
  font-size: 1.7rem;
  font-weight: 600;
}

.module.module--disabled {
  background-color: #D3D3D3;
  cursor: default;
}

.module__wrapper__actions {
  display: flex;
  position: absolute;
  align-items: center;
  top: 1.8rem;
  right: 3rem;
  height: 4rem;
}

.module__wrapper__actions i {
  cursor: pointer;
  transition: color ease .3s;
  margin-left: 2rem;
}

.module__wrapper__actions i:hover {
  color: #DB3737;
  cursor: pointer;
}

.completion-indicator {
  color: #0D8050;
  font-size: 1.4rem;
}

.completion-indicator .bp3-icon {
  margin-right: .5rem;
}

.module__stages {
  padding-left: 2rem;
}

.module__stages__title {
  position: relative;
}

.module__stages__title:last-of-type:before {
  display: none;
}

.module__stages__title i {
  position: absolute;
  left: -2rem;
  top: -0.5rem;
}

.module__stages .module__stages__title h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.4rem;
}

.module__stages > li {
  list-style-type: none;
}

.module__stages .bp3-collapse-body:before {
  content:"";
  position: absolute;
  left: -1.6rem; /* adjust manually */
  border-left: 1px solid black;
  height: 100%;
  width: 1px;
}

.module__stages > li:last-of-type .bp3-collapse-body:before {
  display: none;
}

.module__stages__stage {
  margin: 1rem 0;
}

.editor-output strong {
  font-weight: bold;
}

.editor-output em {
  font-style: italic;
}

.editor-output u {
  text-decoration: underline;
}

.editor-output img {
  max-width: 100%;
}

.editor-output iframe {
  width: 100%;
  height: 48rem;
}

.module-form .quill {
  background-color: #fff;
}

.editor-selector .bp3-tab-panel {
  margin-top: 1rem;
}

.module-form__actions {
  display: flex;
  justify-content: flex-end;
}
