.path-container .bp3-non-ideal-state {
  height: 30rem;
}

.path-container__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.path-container__header__actions {
  display: flex;
}

.path-container__header__actions > button {
  margin-right: 1rem;
}

.paths {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.path-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.path {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 15rem;
  position: relative;
}

.paths__actions {
  position: absolute;
  width: 35%;
  right: .7rem;
  bottom: .7rem;
  display: flex;
  justify-content: space-between;
  visibility: none;
  opacity: 0;
  transition: visibility 0s, opacity 0.4s linear;
}

.path-wrapper:hover .paths__actions {
  visibility: visible;
  opacity: 1;
}

.paths__actions i {
  transition: color ease .3s;
  cursor: pointer;
}

.paths__actions i:hover {
  color: #DB3737;
}

.path-form__actions {
  display: flex;
  justify-content: flex-end;
}

.path-form span.bp3-popover-target {
  display: block;
  width: 100%;
}
